In [1]:
import pandas as pd

In [2]:
dog= pd.Series([1,2,3,4,5], index= ['a','b','c','d','e'])

In [3]:
print(dog)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
import pandas as pd

In [5]:
data = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])
print(data)

A    10
B    20
C    30
D    40
dtype: int64

In [8]:

Rory=pd.DataFrame({
    'name':['boo','heho','noni'],
    'age':[23,21,19]
})
print(Rory)

   name  age
0   boo   23
1  heho   21
2  noni   19

In [9]:
red=pd.Series({
    'name':['boo','heho','noni'],
    'age':[23,21,19]
})
print(red)

name    [boo, heho, noni]
age          [23, 21, 19]
dtype: object

In [10]:
print(Rory.describe())

        age
count   3.0
mean   21.0
std     2.0
min    19.0
25%    20.0
50%    21.0
75%    22.0
max    23.0

In [11]:
my_list=[10,20,30,20]
print(my_list)

[10, 20, 30, 20]

In [12]:
my_list.append(40)
my_list[2]=50
print(my_list)

[10, 20, 50, 20, 40]

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset("tips")

In [3]:
df.to_csv("tips.csv",index=False)

In [4]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
df[["total_bill","tip"]]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [6]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [7]:
df.dtypes['total_bill']

dtype('float64')

In [8]:
type(df["total_bill"])

pandas.core.series.Series

In [9]:
type(df[["total_bill","tip","day"]])

pandas.core.frame.DataFrame

In [10]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [11]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [12]:
df.isnull()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [13]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64